/* CSS Document */
body{
	background:#000000;
	color:#FFFFFF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}

div.container{
	text-align:left;
	width: 800px;
	padding: 0px 0px 0px 0px;
	margin: 0 auto;
}

div.user{
	top:0px;
	width:130px;
	height:100px;
	right:270px;
	position:absolute;
	background:#003366;
	border-bottom:#666666 thin solid;
	border-left:#666666 thin solid;
	border-right:#666666 thin solid;
	-moz-border-radius-bottomright:10px;
	-moz-border-radius-bottomleft:10px;
}

div.header{
	padding: 10px 0px 0px 0px;
	margin: 0px 0px 0px 90px;
	height:100px;
	width:500px;
	-moz-border-radius-topright:10px;
	-moz-border-radius-topleft:10px;
	background:#003366;
}

div.content{
	width: 800px;
	position:absolute;
	-moz-border-radius:10px;
	border:#666666 thin solid;
	background:#000033;
	
}
div.logo{
	height:85%
}

#next{
	top:100px;
	width:60px;
	height:50px;
	right:-62px;
	position:absolute;
	background:#003366;
	border:#666666 thin solid;
	-moz-border-radius-bottomright:10px;
	-moz-border-radius-topright:10px;
}

#last{
	top:100px;
	width:60px;
	height:50px;
	left:-62px;
	position:absolute;
	background:#003366;
	border:#666666 thin solid;
	-moz-border-radius-bottomleft:10px;
	-moz-border-radius-topleft:10px;
}

div.ical{
	float:right;
	margin: 1px 10px 0px 0px;
}

div.register{
	padding: 0px 0px 0px 0px;
	margin: 0 auto;
}

div.login{
	padding: 0px 0px 0px 0px;
	margin: 0 auto;
	width:750px;
}

#calLoading{
	text-align:center;
	display:none;  
	color:#FFFFFF;
	height:150px;
	width:300px;
	position:fixed;
	top:100px;
	left:-200px;
	border:#666666 thin solid;
	-moz-border-radius:10px;
	background:#000033;
}

#loading{
	text-align:center;
	display:none;  
	color:#FFFFFF;
	position:fixed; 
	height:150px;
	width:300px;
	border:#666666 thin solid;
	-moz-border-radius:10px;
	background:#000033;
}

#uploading{
	text-align:center;
	display:none;  
	color:#FFFFFF;
	position:fixed; 
	height:150px;
	width:300px;
	border:#666666 thin solid;
	-moz-border-radius:10px;
	background:#000033;
}
#showInfo{
	display:none;  
	position:fixed; 
	background:#003366;
	height:150px;
	width:300px;
	border:2px solid #000000;
	-moz-border-radius:10px;
	padding-bottom:5px;
	color:#FFFFFF;
}
#showChannelInfo{
	display:none;  
	position:fixed; 
	background:#003366;
	height:150px;
	width:300px;
	border:2px solid #000000;
	-moz-border-radius:10px;
	padding-bottom:5px;
	color:#FFFFFF;
}

#showCal {
	
}

table{
	font-size:11px;
}

.showInfoHeader{
	width:300px;
	height:26px;
	border-bottom:1px #FFFFFF dashed;
}

.showInfoExit{
	width:20px;
	margin-right:2px;
	margin-top:2px;
	float:right;
}
.showTitleInfo{
	width:270px;
	height:26px;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	padding-top:4px;
}

.showDescriptionInfo{
	overflow:auto;
	width:300px;
	height:100px;
	color:#FFFFFF;
}

.showWWInfo{
	height:20px;
	width:300px;
	background:#000033;
	color:#FFFFFF;
	border-bottom:#FFFFFF thin solid;
}

.showStationInfo{
	margin-right:2px;
	margin-top:2px;
	float:left;
}
.showTimeInfo{
	float:right;
	margin-right:2px;
	margin-top:2px;
}

#tableCal tr.header td{
	font-size:14px;
	background-color:#003366;
}

#tableCal tr.alt {
	background-color:#003366;
	/*font-size:16px;*/
}

table td{
	padding:0;
	width:100px;
	height:25px;
}

#tableContent {
	border-collapse: collapse;
}

img{
	border-style:none;
}

#tableCal tr.content{
	vertical-align:text-top;
}

input{
	background-color:#05327C;
	border:thin;
	border-style:solid;
	border-color:#999999;
	margin:2px;	
	margin-left:4px;
	-moz-border-radius:3px;
	color:#FFFFFF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
input:hover{
	background-color:#0033FF;
}

input.txt{
	background-color:#FFFFFF;
}
a:link{color:#FFFFFF;}
a:visited{color:#FFFFFF;}
a:hover{color:#0033FF}
a:active{} 
