/* CSS Document */
body{
	background:#000000;
	color:#FFFFFF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}

div.container{
	text-align:left;
	width: 800px;
	padding: 0px 0px 0px 0px;
	margin: 0 auto;
}

div.user{
	top:0px;
	width:130px;
	height:100px;
	right:270px;
	position:absolute;
	background:#003366;
	border-bottom:#666666 thin solid;
	border-left:#666666 thin solid;
	border-right:#666666 thin solid;
	-moz-border-radius-bottomright:10px;
	-moz-border-radius-bottomleft:10px;
}

div.header{
	padding: 10px 0px 0px 0px;
	margin: 0px 0px 0px 90px;
	height:100px;
	width:500px;
	-moz-border-radius-topright:10px;
	-moz-border-radius-topleft:10px;
	background:#003366;
}

div.content{
	width: 800px;
	position:fixed;
	-moz-border-radius:10px;
	border:#666666 thin solid;
	background:#000033;
	
}
div.next{
	top:200px;
	width:60px;
	height:50px;
	right:175px;
	position:absolute;
	background:#003366;
	border-bottom:#666666 thin solid;
	border-top:#666666 thin solid;
	border-right:#666666 thin solid;
	-moz-border-radius-bottomright:10px;
	-moz-border-radius-topright:10px;
}
div.last{
	top:200px;
	width:60px;
	height:50px;
	left:175px;
	position:absolute;
	background:#003366;
	border-bottom:#666666 thin solid;
	border-top:#666666 thin solid;
	border-left:#666666 thin solid;
	-moz-border-radius-bottomleft:10px;
	-moz-border-radius-topleft:10px;
}

div.ical{
	float:right;
	margin: 1px 10px 0px 0px;
}

div.register{
	padding: 0px 0px 0px 0px;
	margin: 0 auto;
}

div.login{
	padding: 0px 0px 0px 0px;
	margin: 0 auto;
	width:750px;
}

#calLoading{
	text-align:center;
	display:none;  
	color:#FFFFFF;
	position:fixed; 
	height:150px;
	width:300px;
	border:#666666 thin solid;
	-moz-border-radius:10px;
	background:#000033;
}

#loading{
	text-align:center;
	display:none;  
	color:#FFFFFF;
	position:fixed; 
	height:150px;
	width:300px;
	border:#666666 thin solid;
	-moz-border-radius:10px;
	background:#000033;
}

#showInfo{
	display:none;  
	position:fixed; 
	background:#FFFFFF;
	height:150px;
	width:300px;
	border:2px solid #000000;
	color:#000000;
}

#showCal {
	
}

table{
	font-size:11px;
}

.showInfoHeader{
	width:300px;
	height:26px;
	border-bottom:1px #000000 dashed;
}

.showInfoExit{
	width:20px;
	margin-right:2px;
	margin-top:2px;
	float:right;
}
.showTitleInfo{
	width:270px;
	height:26px;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	padding-top:4px;
}

.showDescriptionInfo{
	overflow:auto;
	width:300px;
	height:100px;
	color:red;
}

.showWWInfo{
	height:20px;
	width:300px;
	background:#666666;
	color:#FFFFFF;
	border-bottom:#000000 thin solid;
}

.showStationInfo{
	margin-right:2px;
	margin-top:2px;
	float:left;
}
.showTimeInfo{
	float:right;
	margin-right:2px;
	margin-top:2px;
}

#tableCal tr.alt {
	background-color:#003366;
	/*font-size:16px;*/
}

#tableCal tr.header td{
	font-size:14px;
	background-color:#003366;
}
#tableCal table{
/*padding-top:0px;
height:50%;*/

}
#tableCal table.tableContent td{

/*background-color:#FFFFFF;
padding-top:0px;*/	
}

img{
	border-style:none;
}

a:link{color:#FFFFFF;}
a:visited{color:#FFFFFF;}
a:hover{}
a:active{} 
