body {
	font-family:Arial, Helvetica, sans-serif;
	margin: 10px 10px 10px;
	/*min-width: 960px;*/
	padding: 0 0 5.5em;
	color:#FFFFFF;
	background-color:#0099FF;
	float:right;
}
table {
	float:center;
}
tr.header td{
	background-color:#000033;
	font-size:16px;
}
	
td.day table {
	border-collapse:collapse;
	width:100%;
}

td.day {
	border: 2px solid;
	padding: 2px 2px 10px;
	text-align: top;

}

td.day td{
	font-size:12px;
}


td.day th{
	background-color:#000033;
}
