body {
	font-family:Arial, Helvetica, sans-serif;
	margin: 10px 10px 10px;
	/*min-width: 960px;*/
	padding: 0 0 5.5em;
	color:#FFFFFF;
	background-color:#0099FF;
	float:right;
}
day.table {
	align:top;
}
tr.header td{
	background-color:#000033;
	font-size:16px;
}

tr.header tr{
	postition:relative;
	top:10px;	
}
	
td.day table {
	border-collapse:collapse;
	width:160px;
	height:400px;
	table-layout:auto;
}

td.day {
	border: 2px solid;
	padding: 2px 2px 10px;
	text-align: top;

}

td.day td{
	font-size:12px;
}


td.day th{
	background-color:#000033;
}
